
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488892902054'); /* IE9*/
  src: url('iconfont.eot?t=1488892902054#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488892902054') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488892902054') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488892902054#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card:before { content: "\e67b"; }

.icon-search:before { content: "\e660"; }

.icon-house:before { content: "\e60a"; }

.icon-clock:before { content: "\e602"; }

.icon-fire:before { content: "\e635"; }

.icon-money:before { content: "\e677"; }

.icon-down:before { content: "\e62c"; }

.icon-mobile:before { content: "\e804"; }

.icon-car:before { content: "\e621"; }

.icon-cart:before { content: "\e614"; }

.icon-mobile1:before { content: "\e627"; }

.icon-bag:before { content: "\e606"; }

.icon-iconfonticonfontticket:before { content: "\e601"; }

.icon-teeshirtzhuanhuan01:before { content: "\e62f"; }

.icon-shoes:before { content: "\e653"; }

.icon-train:before { content: "\e68a"; }

.icon-diamond:before { content: "\e7d2"; }

.icon-iconfontaliwangwang:before { content: "\e603"; }

.icon-oil:before { content: "\e686"; }

.icon-ion-ios-yuanbao-outline:before { content: "\e672"; }

.icon-peijian:before { content: "\e616"; }

